@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: var(--primary-color-darker);
}

.calculadora {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  border-collapse: collapse;
}

#display {
  font-size: 2em;
  width: 100%;
  text-align: right;
  padding: 10px;
  box-sizing: border-box;
}

.btn {
  width: 100%;
  height: 50px;
  font-size: 1em;
  border: none;
  background-color: #dfdfdf;
  cursor: pointer;
  box-sizing: border-box;
}

.btn:hover {
  background-color: #d9d9d9;
}

.calculadora td {
  padding: 5px;
}

@media screen and (max-width: 500px) {
  .container {
    width: 90%;
    margin: 20px auto;
    padding: 10px;
  }

  form input {
    font-size: 20px;
    height: 40px;
  }

  form button {
    font-size: 16px;
    height: 40px;
    margin-top: 20px;
  }

  #display {
    font-size: 1.5em;
    padding: 8px;
  }

  .btn {
    height: 40px;
    font-size: 0.9em;
  }
}
