* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(143, 219, 245);
}

#container {
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid white;
    border-radius: 15px;
    padding: 30px;
    background-color: white;


    color: black;
}

form {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

form input {
    padding: 4px;
    border-radius: 10px;
    align-self: stretch;
}


form label {
    display: flex; 
    
    
}


#btn {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
}

button {
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
    width: 50%;
}


#res {
    color: white;
    margin-top: 25px;
}